body{
    background-color: rgb(245, 229, 229);
}

.container{
    display: flex;
    background-color: rgb(240, 211, 211);
    min-height: 100vh;
    align-items: center;
    justify-content: center; 
    gap: 50px; 
    padding: 150px;
      margin-bottom: 150px;
    
}
.card {
    position : relative ;
    background-color: white;
    padding:20px;
    border: 1px solid #ddd;
    border-radius: 5px;
      cursor: pointer;
       flex:1;
       width: 10px;
      

}

.badge {
      position: absolute;
      top: 12px;
      right: 12px;
      background-color: #28a745;
      color: white;
      font-size: 11px;
      padding: 3px 8px;
      border-radius: 4px;
    }

    .card button{
        margin-top: 15px;
      padding: 10px 20px;
      background-color: #0057b7;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
    }

    .card button:hover{
        background-color: #003f8a;

    }
     .card h2 {
      margin-bottom: 10px;
      color: #333;
    }

    .card p {
      margin: 6px 0;
      color: #555;
    }

@media (max-width : 768px){
    .container{
        flex-direction : column;
    }
}
.big-box{
    background-color: pink;
}
    
.box{
    position: relative;
    width: 170px;
    height  : 170px;
    border: 2px solid black;
   
}
#box-1{
    position: relative;
    background-color: #c3eacc;
    top: 100px;
    z-index:2;
 
    
}
#box-2{
    position: relative;
    background-color: #08f03e;
    bottom: -120px;
    z-index:1;
    
   
}
#box-3{
    position: relative;
    background-color: #191b1a;
    top:50px;
    z-index:4;
}
#box-4{
    position: relative;
    background-color: #06532c;
    z-index:3;
}
/* here we have operated of z-index with the help of z-inec */